/* 
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src:
         url('../fonts/work-sans-v13-latin-regular.woff2') format('woff2'),
         url('../fonts/work-sans-v13-latin-regular.woff') format('woff');
  } */